html { font-size: 13px; font-family: Verdana, Arial, Helvetica, sans-serif }
body { margin: 0 }
form { display: inline }
a { color: #37a3d4; text-decoration: none }

.header { margin: 0 auto; width: 975px; position: relative }
.main { margin: 0 auto; width: 975px; padding: 15px 0 42px }
.footer-container { background: #f2f2f2 }
.footer { margin: 0 auto; width: 953px; overflow: hidden; padding: 35px 11px 55px 11px }

.footer-block dt { color: #37a3d4; }
.block-text h4 { color: #37a3d4; }
.you-save { color: #37a3d4; }

.swipe-container { overflow-x: auto }
.swipe-container ul { display: table }
.swipe-container li { display: table-cell }

h1 { font-size: 26px; font-weight: normal; color: #323232; text-transform: uppercase }
.heading { color: #323232; font-family: GeogrotesqueRegular, Helvetica, Arial, sans-serif; font-size: 26px }

/* Layout */
.col2-left-layout .main { display: table }
.col2-left-layout .main > div { display: table-cell; vertical-align: top }
.col2-left-layout .col-left { width: 217px }
.col2-left-layout .col-main { padding-left: 10px }

/* Global form elements */
.input-box { border: #cfcfcf 1px solid; border-radius: 2px; padding: 0 5px 0 15px; background: #ffffff }
input[type=text], input[type=password], textarea { width: 100%; font-size: 13px; border: none; margin: 0 }
input[type=text], input[type=password] { padding: 6px 0 5px 0 }
button { padding: 6px 21px; font-family: GeogrotesqueRegular, Helvetica, Arial, sans-serif; font-size: 22px; color: #fff; cursor: pointer; font-weight: normal; border-radius: 2px; border: none; background-color: #e46d06; margin: 0 }
button:disabled, button.disabled { background-color: #999999 }

/* Main search form */
#searchPanel form { width: 367px }
#searchPanel .input-box { position: relative; padding-right: 48px }
#searchPanel input { width: 285px; font-family: GeogrotesqueRegular, sans-serif; font-size: 17px; cursor: pointer }
#searchPanel input:focus { cursor: text }
#searchPanel button { padding: 0; border-radius: 0 2px 2px 0; position: absolute; right: -1px; top: -1px; cursor: pointer; background-color: #e46d06 }
#searchPanel button:disabled { cursor: default; background-color: #999999 }
/* IE8 will cough up once it will see :disabled and will ignore the complete selector so it has to be duplicated */
#searchPanel button.disabled { cursor: default; background-color: #999999 }
#searchPanel button .search-button-image { background: url('../images/icons/icons-36-white.png') -1216px -4px; height: 32px; width: 50px; display: block }

#search-autosuggestion { position: absolute; left: -1px; z-index: 200 }
#search-autosuggestion ul { border: 1px solid #ccc; border-top: none; width: 299px; background: #ffffff }
#search-autosuggestion ul li { border-top: 1px solid #cccccc }
#search-autosuggestion ul li a { color:#474747; display:block; font-family: GeogrotesqueRegular, Helvetica, Arial, sans-serif; font-size: 15px; height: 39px; line-height: 39px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap }
#search-autosuggestion ul li.no-thumbnail a { padding-left: 16px }
#search-autosuggestion ul li a:hover { background-color: #e9e9e9 }
#search-autosuggestion ul li img { margin: 1px 16px 1px 1px }

/* Header section */
.logo { float: left; margin: 19px 40px 28px 0 }
.logo strong { display: none }
#searchPanel { float: left; margin-top: 39px }
.header-container { background-color: #33aadb }
.header-panel { padding: 8px 5px 0 16px; white-space: nowrap; font-size: 11px }
.header-panel > * { float: right; display: block }
.header-panel > a { padding: 2px; color: #09486d }
.header-panel .sep { height: 20px; margin: 0 8px; border-left: 1px solid #09486d }
.switcher-language { width: 44px }
.cms_header_small { float: right; margin: 6px 14px 0 0 }
.cms_header_small p { margin: 0 }

/* Main navigation */
header { position: relative; z-index: 100 }
nav { clear: both; color: #ffffff }
nav ul { list-style: none; margin: 0; padding: 0 }
.nav a, #navPlaceholder a { color: #ffffff }
.nav > li, #navPlaceholder > li { float: left }
.nav > li { border-right: #1280ac solid 1px; border-left: #5ac0ec solid 1px }
.nav > li.first { border-left: none }
.nav > li.last { border-right: none }
.nav > li > a { display: block; padding: 7px 21px 8px 23px; font-family: GeogrotesqueRegular, Helvetica, Arial, sans-serif; font-size: 20px }
.nav > li.hover > a { background: #105a86; padding-top: 6px; border-top: 1px solid #0a4365; border-radius: 2px 2px 0 0; -moz-border-radius: 2px 2px 0 0 }
.nav > li > ul { left: -100000px; border-radius: 2px }
.nav > li.first > ul { border-radius: 0 2px 2px 2px }
.nav > li > ul, #navPlaceholder > ul { position: absolute; background: #105a86; padding: 20px 0; width: 100% }
.nav > li.hover > ul { left: 0 }
.nav li li a, #navPlaceholder > ul > li > a { display: block; height: 21px; padding: 6px 0 1px 9px; margin: 0 17px 5px; font-weight: bold; white-space: nowrap }
.nav li li a:hover { background: #3cabd9; border-radius: 2px; -moz-border-radius: 2px }

.nav .nav-4 { background-color: #df1800 }

/* Brands Navigation */
.nav .brands-glossary, .nav .brands-logos, #navPlaceholder .brands-glossary, #navPlaceholder .brands-logos,
.nav .separator, #navPlaceholder .separator { width: auto !important; margin: 0 17px }
.nav .brands-glossary a, #navPlaceholder .brands-glossary a { padding: 0 4px; margin: 2px 5px 12px; height: auto; display: inline-block; font-weight: normal }
.nav .brands-glossary, #navPlaceholder .brands-glossary { border-bottom: #0d4a6e 1px solid }
.nav .brands-logos, #navPlaceholder .brands-logos { border-bottom: #0d4a6e 1px solid; border-top: #4981a3 1px solid; padding: 15px 0 20px }
.nav .separator, #navPlaceholder .separator { border-top: #4981a3 1px solid; margin-bottom: 20px }
.nav .brands-logos a { float: left; padding-left: 2px }
.nav .brands-logos a:hover { background: none }
.nav .brands-logos .brand-logos-title, #navPlaceholder .brands-logos .brand-logos-title { font-size: 18px; text-transform: uppercase; float: left; padding: 12px 15px 0 0 }
.nav .brands-button, #navPlaceholder .brands-button { position: absolute; bottom: 0; right: 0; margin: 0 17px 30px 0 }
#navPlaceholder .brands-logos { text-align: center }
#navPlaceholder .brands-logos a { display: inline-block; margin: 10px 10px 0 }
#navPlaceholder .brands-glossary a { margin: 2px 2px 12px }
.nav .button, #navPlaceholder .button { background: #ffffff; color: #000000; border-color: #bdc3cc }

/* Footer blocks */
.footer-block { float: left; font-size: 10px; width: 171px }
.footer-block ul { list-style: none; height: 138px; overflow: hidden; margin: 0 25px 0 0; padding: 0 }
.footer-block ul li:first-child { margin-top: 10px; }
.footer-block-info { clear: both; padding-top: 30px; font-size: 10px; color: #a0a0a0 }
.footer-block a { color: #323232; border-color: #323232; font-size: 10px; letter-spacing: .075em }
.footer-block li { list-style: none; margin-bottom: 9px }
.footer-block .footer-block-title { border-bottom: 1px solid black; font-size: 10px; font-weight: bold; margin-right: 25px }
.footer-block-wide { float: left; width: 365px }
.footer-block-wide img { margin-bottom: 21px }

/* Footer Social */
.social { width: 25%; margin: 50px 0 }
.social .inner-container { border-right: 1px solid #9E9E9E; height: 120px; margin: 0 10px 0 15px }
.social.last .inner-container { border: none; }
.social .icon { width: 70px; margin-right: 15px; padding: 0 }
.social .text { width: 118px }
.social .text h3 { font-family: 'GeogrotesqueMedium', serif; font-size: 18px; font-weight: normal; margin-bottom: 8px }
.social .text a { color: #000 }
.social .text p { line-height: 18px; }

/* Header drop-down emulations */
.drop-container { position: relative; display: inline-block }
.drop-container a { display: block }
.drop { display: inline-block; width: 55px!important; padding: 0 20px 0 3px; font-weight: normal; font-size: 10px; line-height: 16px; height: 16px;  background: #fff url(../images/select-lang.gif) no-repeat top right; border: 1px solid #b3b3b3; color: #000; position: relative; cursor: pointer; }
.drop-list { position: absolute; left: 0; top: 18px; background: #fff; display: none; border: 1px solid #b3b3b3; border-top: none; overflow: hidden }
.header-panel .drop-list a { color: #000; padding: 0 3px 1px 3px; line-height: 16px; height: 16px; width: 100% }
#language-select .drop-list { width: 78px }
#language-select .drop-list a { padding-left: 26px }
.drop-list a:hover { color: #fff; background-color: #b3b3b3; font-weight: normal; }
.lang-ru_de, .lang-st_de, .lang-cy_de { background: url(../images/flags/de.gif) no-repeat }
.lang-ru_en, .lang-st_en, .lang-cy_en { background: url(../images/flags/en.gif) no-repeat }
.lang-ru_fr, .lang-st_fr, .lang-cy_fr { background: url(../images/flags/fr.gif) no-repeat }
.lang-ru_es, .lang-st_es, .lang-cy_es { background: url(../images/flags/es.png) no-repeat }
#part .drop { width: 120px!important; padding-right: 2px; }
#part .drop-list { width: 125px; }
#part-links { width: 125px!important; }
#part-links .dropdownOpt { padding: 1px 3px; }
.dd-msie7{padding:1px 4px 1px 1px;}

/* Info Banner */
.info-banner { background-color: #e3e3e3 }
.info-banner-inner-container { width: 975px; margin: 0 auto; background: url("../images/icon-star.png") no-repeat left center }
.info-banner-text-container { text-align: center; font-family: 'GeogrotesqueMedium', serif;  font-size: 15px; padding: 8px 24px; background: url("../images/icon-star.png") no-repeat right center }

/* Placeholder fix */
.placeholder { color: #aaaaaa }

/* Swiping blocks */
.swipe-prev, .swipe-next { width: 38px; height: 53px; position: absolute; top: 99px; z-index: 10; cursor: pointer; opacity: 0; -webkit-transition: all .3s ease }
.swipe-next { background: url(../images/arrow-next.png); right: 0 }
.swipe-prev { background: url(../images/arrow-prev.png); left: 0 }

.col-main .std p img { max-width: 100% }

/* Phone bar */
.phone-bar { display: none }
#phoneMenuPlaceholder { display: none }
.num-items { display: inline-block; color: #ffffff; border-radius: 7px; background-color: #e46d06; font-size: 11px; padding: 1px 4px; margin-left: 4px }

/* Tablet */
@media (max-width: 974px) {
    .main, .header, .footer, .footer-block-info, .info-banner-inner-container { width: auto }
    .main-container .main { padding-left: 10px; padding-right: 10px; width: auto }
    .logo { padding-left: 10px }
    .social { height: auto }
    .social .text h3 { margin-top: 10px }
    #phoneMenuPlaceholder { display: none }
    .flex-control-nav { display: none }
    .cms_header_small { display: none }
    .nav .brands-logos .brand-logos-title, #navPlaceholder .brands-logos .brand-logos-title { float: none; padding: 0 }

    /* Footer blocks */
    .footer-block { width: 33% }
    .footer-block ul, .footer-block .footer-block-title { margin-right: 20px }
    .footer-block-wide { float: none; clear: both; width: auto }
    .footer-block-wide img { margin: 21px 5px 0 }
}

/* Phone */
@media (max-width: 767px) {
    .col-main { clear: both }
    .social { width: auto; clear: both; margin: 0 0 30px 0 }
    .social.first { margin-top: 30px }
    .social .inner-container { padding: 0; border: none; height: auto }
    .social .text { width: 200px }
    .social .text h3 { margin-top: 0 }
    #search_mini_form { display: none }
    .logo { margin: 0; padding: 0; text-align: left }
    .logo img { margin: 10px; }
    .header .nav { padding-top: 0; display: table; width: 100%; border-top: #5ac0ec solid 1px; border-bottom: #1280ac solid 1px }
    .header .nav.first { border-top: none }
    .header .nav.last { border-bottom: none }
    .header .nav > li { display: table-cell; float: none; text-align: center }
    .header .nav > li.hover > ul { left: -9999px }
    .phone-bar { display: block; clear: both; background: #228bb6 }
    .phone-bar li { float: left; width: 20%; text-align: center; padding: 6px 0 }
    .phone-bar li a { display: block; border-right: #21719f solid 1px; padding: 5px 0 }
    .phone-bar li.active { background-color: #0b4e76 }
    .phone-bar li.active a { border-color: #0b4e76 }
    .phone-bar li.last { width: 19% }
    .phone-bar li.last a { border: none }
    #phoneMenuPlaceholder { display: block }
    #phoneMenuPlaceholder .content { background: #ffffff; padding: 6px 15px; height: 32px }
    #phoneMenuPlaceholder a { margin: 8px 5px; display: inline-block }
    #phoneMenuPlaceholder .lang-fr, #phoneMenuPlaceholder .lang-en, #phoneMenuPlaceholder .lang-de { padding-left: 25px }
    #phoneMenuPlaceholder #search_mini_form { display: block; position: static; width: auto }
    #phoneMenuPlaceholder #search_mini_form input { width: 100% }
    #phoneMenuPlaceholder > ul > li { float: left; width:20%; height: 10px }
    #phoneMenuPlaceholder > ul > li.active { background: url("../images/phone-menu-arrow.png") no-repeat center }
    .lang-ru_en, .lang-st_en, .lang-cy_en, .lang-ru_fr, .lang-st_fr, .lang-cy_fr, .lang-ru_de, .lang-st_de, .lang-cy_de, .lang-ru_es { padding-left: 25px }
    #searchPanel { display: none }

    /* Footer blocks */
    .footer-block { clear: both; width: 100%; margin-bottom: 10px }
    .footer-block ul { height: auto; max-height: 138px; margin-left: 10px }
    .footer-block .footer-block-title { font-family: 'GeogrotesqueMedium', serif; background: #e5e5e5 url("../images/icon-footer-arrow.png") no-repeat right; padding: 5px 10px; font-size: 14px; margin: 0; border: none }

    .header-panel { position: absolute; right: 0; top: 7px }
    .header-panel > a, .header-panel > span, .header-panel span.sep { display: none }
}

/* Supplementary stuff */

/* Fonts */
@font-face { font-family: 'GeogrotesqueSemiBold'; src: url('../fonts/geogtq-sb-webfont.eot'); src: url('../fonts/geogtq-sb-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/geogtq-sb-webfont.woff') format('woff'), url('../fonts/geogtq-sb-webfont.ttf') format('truetype'), url('../fonts/geogtq-sb-webfont.svg#GeogrotesqueSemiBold') format('svg'); font-weight: normal; font-style: normal }
@font-face { font-family: 'GeogrotesqueLight'; src: url('../fonts/geogtq-lg-webfont.eot'); src: url('../fonts/geogtq-lg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/geogtq-lg-webfont.woff') format('woff'), url('../fonts/geogtq-lg-webfont.ttf') format('truetype'), url('../fonts/geogtq-lg-webfont.svg#GeogrotesqueLight') format('svg'); font-weight: normal; font-style: normal }
@font-face { font-family: 'GeogrotesqueMedium'; src: url('../fonts/geogtq-md-webfont.eot'); src: url('../fonts/geogtq-md-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/geogtq-md-webfont.woff') format('woff'), url('../fonts/geogtq-md-webfont.ttf') format('truetype'), url('../fonts/geogtq-md-webfont.svg#GeogrotesqueMedium') format('svg'); font-weight: normal; font-style: normal }
@font-face { font-family: 'GeogrotesqueRegular'; src: url('../fonts/geogtq-rg-webfont.eot'); src: url('../fonts/geogtq-rg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/geogtq-rg-webfont.woff') format('woff'), url('../fonts/geogtq-rg-webfont.ttf') format('truetype'), url('../fonts/geogtq-rg-webfont.svg#GeogrotesqueRegular') format('svg'); font-weight: normal; font-style: normal }
@font-face { font-family: 'GeogrotesqueUltraLight'; src: url('../fonts/geogtq-ul-webfont.eot'); src: url('../fonts/geogtq-ul-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/geogtq-ul-webfont.woff') format('woff'), url('../fonts/geogtq-ul-webfont.ttf') format('truetype'), url('../fonts/geogtq-ul-webfont.svg#GeogrotesqueUltraLight') format('svg'); font-weight: normal; font-style: normal }

/* Rounded borders */
.roundedBorder { border-radius: 2px }

/* Clearer */
.clearer:after, .c:after, .columns:after, .content form p:after, .form-list li:after, .nav:after, .nav:before,
#navPlaceholder > ul:after, .phone-bar:after, #phoneMenuPlaceholder ul:after, #newsletterForm:after,
#layeredNavPlaceholder:after, .header-panel:after, .nav .brands-logos:after { content: ""; display: block; height: 0; clear: both; visibility: hidden }

/* Print */
@media print {
    * { background: none !important; text-align: left !important }
    .header-container, .footer-container, .toolbar { display: none !important }
}
