/* Core */

.clearer:after, .c:after, .columns:after, .content form p:after, .form-list li:after, .nav:after, .nav:before,
#navPlaceholder > ul:after, .phone-bar:after, #phoneMenuPlaceholder ul:after, #newsletterForm:after,
#layeredNavPlaceholder:after, .header-panel:after { content: ""; display: block; height: 0; clear: both; visibility: hidden }
.cc { clear: both }

html { font-size: 13px; font-family: Verdana, Arial, Helvetica, sans-serif }

/* Layout */
.header { margin: 0 auto; width: 975px; position: relative }
.main { margin: 0 auto; width: 975px; padding: 15px 0 42px; overflow-y: hidden }
.main-container { background: #fff; }
.footer-container { background: #f2f2f2; }
.footer { margin: 0 auto; width: 953px; overflow: hidden; padding: 35px 11px 55px 11px; }

h2 { font-size: 15px; font-weight: bold; margin: 0 0 10px 0; }

/* Reset for new design. */
.content h1,
.content h2 { margin: 2px 0; padding:0; color: #333; font-weight: normal !important; font-size: 22px !important; font-family: GeogrotesqueRegular, serif !important; text-transform: none !important; }

.icons a, .icon { padding: 1px 0 1px 20px; background-repeat: no-repeat; background-position: left center; }

.content p, .content ul, .content ol, .content dl, .content table, blockquote, address, pre, .columns, .content img, .b-pager, .content form, .b-m { margin-bottom: 20px; }

/* Status messages */
ul.messages { margin: 0 0 10px; }
ul.messages li.success-msg,
ul.messages li.notice-msg { border:2px solid #fbc743; margin:0 0 10px; padding:10px 15px 10px 60px; background: transparent url(../i/notice-msg.png) 15px center no-repeat; }
ul.messages li.success-msg { background: none; padding: 10px 15px; }


/* inserted */

h1 { font-size: 26px; font-weight: normal; color: #323232; text-transform: uppercase }
.page-title	{ padding-top:20px; min-height:40px;}
.col-main							{ position: relative; }

/* End insert */

fieldset { border: none; margin: 0; padding: 0; }

.us, .eu { display: none }
.show-us .us, .show-eu .eu { display: block }

/* --------------
 * error message login
 * -------------- */
ul.messages li.error-msg { color:#FF0000; }

.versandinfo a {
	font-size:10px;
	color:#000000;
	border-bottom-color: #000000 !important;
}

div.product-essential div.product-name {
	height:47px;
}

div.other-links {
	margin-bottom:5px;
}

span.product-alerts-span {
	width:277px;
}

div.product-essential p.a-right button.bu { margin-right:15px; margin-bottom:10px; }

div.password-forgotten {
	margin-left:160px;
	margin-top:-10px;
}

li#shipping-new-address-form h4, li#billing-new-address-form h4 { margin-bottom:13px; }

#checkoutSteps p.checkout-billing-required {
	margin-left:170px;
	margin-bottom:-20px;
	margin-top:-15px;
}

.products-grid h2.product-name a { color:#000000; }
.products-grid a { color:#000000; }
.products-grid p.you-save a { color:#37A3D4; }
.block-content .products-grid a { font-weight:normal; }

div.main-image-area-wrapper object#yt {
    z-index:                19998;
    position:               relative;
    margin-top:             29px;
}
div.product-view.cycles div.main-image-area-wrapper object#yt {
    margin-top:             0;
}

div.main-image-area-wrapper object#swf { height:340px !important; }

div.std table { float: left; }

/* Added on 22.05.2012 as per customer request (see LS-650) */
.mousetrap {background-image:url("../i/blank.gif");}

/* Placeholder fix */
.placeholder { color: #aaaaaa }
