.product-essential:after, #phoneTitlePlaceholder:after { content: ""; display: block; height: 0; clear: both; visibility: hidden }

body.catalog-product-view div.wrapper {background-color: #fff;}

.product-essential { padding: 5px; margin: 0 0 17px 0; position: relative; background: #f0f0f0 }

.product-shop { float: right; width: 550px; padding: 15px 10px 0 0 }
.product-shop .top { border-bottom: 1px solid #fff; margin-bottom: 10px; padding-bottom: 15px }
.product-shop p { margin: 0 0 5px 0; }
#switcher-container p { margin: 0; }
.product-shop .price-box .retail-price { font-size: 17px; text-decoration: line-through; }
#product-attribute-specs-table .retail-price { text-decoration: line-through; }
.product-shop .price-box .regular-price { font-weight: bold; font-size: 21px; }
.product-shop .artikel-nummer { font-size: 11px; margin: -3px 0 0 0; }
.product-shop .delivery { color: #3d9b35; }
.product-shop .note { line-height: 16px; }
.product-img-box { float: left }
.product-img-box a { border: none; }
.more-views { overflow: hidden; width: 366px; position:relative; top:3px; height:50px; padding: 0; float: left; margin-top: 0 }
.more-views li { float: left; list-style: none; padding: 0 1px 0 0; }
.more-views a { display: block; margin-right: 1px; background-color: #fff; cursor: pointer }

/* Tabs */
.product-collateral .tabs li { display: inline }
.product-collateral .tabs a { display: inline-block; padding: 10px 24px; border-top: 1px solid #bcbcbc; background: #f9f9f9; border-top-left-radius: 3px; border-top-right-radius: 3px; color: #666666; border-bottom: #ffffff solid 1px }
.product-collateral .tabs a.active { border-color: #37A3E2; background-color: #f0f0f0; border-bottom: #f0f0f0 solid 1px }
.product-collateral .tab-content { background: #f0f0f0; padding: 20px 30px }

.product-shop .product-title .product-image, .product-shop .product-title .product-title-infos { float: left }
.product-shop .similarProducts { font-size: 11px; margin-top: 5px }

 .slideshow { position: absolute; top:20px; left: 227px; z-index:10; }
 .slideshow object { width:125px; height:20px; }
 div.panorama,
 div.youTubeHolder { position: absolute; left:5px; top:5px; height: 340px; overflow: hidden; }
 .product-shop h1 { font-size: inherit }
 .product-shop div.top div.informations { position: absolute; top:60px; right:20px; }
 div.product-shop div.top div.informations div.price-box p.retail-price span.price { font-size: 18px; }
 div.product-shop div.top div.informations div.price-box p.regular-price span.price { font-weight: normal; font-size: 24px; }
.product-shop .articleInformations { float: right; padding-top: 21px; font-size: 11px }
.product-shop .articleInformations p { width:150px; float:right; text-align: right }

/* Availability */
.product-main-info p { line-height: 24px }
.product-main-info p.availability span.availability { display: none }
.product-main-info p.availability .choose { display:block; color: #7c2c1c; white-space: nowrap }
.product-main-info p.availability .true { color: #839d1b }
.product-main-info p.availability .false { color: #7c2c1c }
.product-main-info p.availability .info { font-size: 10px; border-bottom: 1px dotted #000; margin: 0 0 0 5px; cursor:pointer }

div.product-shop div.price-box p.regular-price { font-size: 24px; font-weight: normal;}

/* Social buttons */
.socialSharing { padding-top: 15px; clear: both }
.socialSharing .item { float:left }
.socialSharing div.item:first-child { margin-left: 0 }
.socialSharing div.item.twitterLike { margin-right: -35px }
.socialSharing.en_US div.item.twitterLike, .socialSharing.fr_FR div.item.twitterLike { margin-right: -25px }
.socialSharing div.item.fb-like { margin-left: -25px }
.socialSharing div#___plusone_0 { float:left !important }
.socialSharing div.gplus-container { float:left; width: 200px }
.socialSharing .print { float: right; font-size: 11px }

#recently-viewed .block-title { margin-bottom: 10px; }

form#product_addtocart_form { position: relative; display:block; z-index: 2; }

.super-attribute-select,
.super-attribute-select option { width: 200px; }

.product-shop .productAlert { cursor: pointer; display: block; margin-top: 5px }
.alertPopUp p { margin: 10px 0 }
.product-shop .price-information { float: right; text-align: right }
.product-shop .product-main-info .main-information { float: left }

.product-controls { margin-top: 12px }
.product-controls .selects { margin: 0; width: 235px; float: left }
.product-controls button { float: right }

.tax-information { font-size:10px; line-height:1.4em; width:100px; color:#8E8E8E }
.product-shop .input-box { padding-left: 8px; margin-right: 7px; float: left }
.qty-box { width: 32px }

.product-img-box .flexslider { display: none }

/* Slider overrides */
.flex-direction-nav a { width: 53px }
.flex-direction-nav .flex-next { background: url("../images/arrow-next.png") no-repeat 100% 20px }
.flex-direction-nav .flex-prev { background: url("../images/arrow-prev.png") no-repeat 0 20px }
.flex-direction-nav .flex-disabled { display: none }

.link-back-container { display: none }
#breadcrumbs { margin-left: 0 }

div.selector span { text-overflow: clip }

#alertLayer { display: none }
#recently-viewed { position: relative }

div.main-image-area-wrapper object#yt { z-index: 19998; position: relative; margin-top: 29px }
div.product-view.cycles div.main-image-area-wrapper object#yt { margin-top: 0 }
div.main-image-area-wrapper object#swf { height:340px !important }

/* Tablet */
@media (max-width: 974px) {
    .product-shop { width: auto }
    .product-shop .price-information { text-align: center; float: none; border-top: 1px solid #fff; margin-top: 10px; padding: 15px 0 5px 0; clear: both }
    .product-shop .price-information p { display: inline-block; margin: 0 5px }
    .product-shop .price-information .tax-information { width: auto }
    .product-shop .articleInformations { padding-top: 17px }
    .product-controls button { float: left; clear: both; margin: 15px 0 7px 0 }

    .socialSharing .print { clear: both; float: left; margin: 17px 0 10px 0 }
    .socialSharing .cc { clear: none }
    .socialSharing.fr_FR div.item.fb-like { clear: both; margin: 5px 0 0 0 }

    .block-title { margin: 0 10px }
    #recently-viewed ul.products-grid { display: table }
    #recently-viewed ul.products-grid > li { display: table-cell; float: none; width: auto }
}

/* Phone */
@media (max-width: 767px) {
    #breadcrumbs { margin-left: 20px }
    .product-img-box:after { content: ""; display: block; height: 0; clear: both; visibility: hidden }
    .catalog-product-view .main-container .main { padding-left: 0; padding-right: 0 }
    .product-essential { padding: 10px }
    .product-shop, .product-img-box { float: none }
    .product-shop .articleInformations { padding-top: 0; margin: 10px 0 0 0 }
    .product-shop .similarProducts { display: block; float: left; margin: 10px 0 0 0 }
    .product-shop .price-information { border-top: none; padding: 0; margin: 0 }
    .socialSharing { padding-top: 7px; clear: both }
    .socialSharing .print { display: none }
    .socialSharing .cc { clear: both }
    .main .product-controls button { width: 100%; font-size: 22px; padding: 10px 0 }

    .product-collateral dt.first { margin-left: 10px }

    #phoneTitlePlaceholder h1 { float: left; font-size: 13px; text-transform: capitalize }
    #phoneTitlePlaceholder img { float: right }

    .product-img-box .flexslider { display: block }
    .main-image-area-wrapper, .more-views, div.slideshow { display: none }
}

/* Clearer */
.product-shop .product-title:after, .socialSharing:after, .product-main-info:after { content: ""; display: block; height: 0; clear: both; visibility: hidden }
