@import "ekomi.css";
@import "common.css";
@import "ls-form.css";
@import "product_grid.css";
@import "responsive.css";
@import "styles.css";

/* Layered navigation */
#productListFilter li a { padding: 6px 0 7px 34px; border-top: 1px solid #e4e4e4; color: inherit; display: block; background: url("../images/icon-checkbox.png") 10px 6px no-repeat }
#productListFilter li.active a { background-image: url("../images/icon-checkbox-active.png") }
.block-title { padding: 8px 10px; background-color: #e4e4e4; font-size: 17px; font-family: GeogrotesqueRegular, Helvetica, Arial, sans-serif }
.expanded, .collapsed { background-position: top right; background-repeat: no-repeat }
.expanded { background-image: url(../images/minus.png) }
.collapsed { background-image: url(../images/plus.png) }
