@import "ekomi.css";
@import "common.css";
@import "product_grid.css";
@import "lib/zoom.css";
@import "lib/dropdown.css";

.product-essential { background: #f0f0f0; display: table; width: 100% }
.product-collateral { margin: 30px 0 }

.product-shop { display: table-cell; padding: 10px 15px; vertical-align: top }
.product-shop .top { border-bottom: 1px solid #fff; margin-bottom: 10px; padding-bottom: 15px }
.product-shop p { margin: 0 0 5px 0; }
#switcher-container p { margin: 0; }
.product-shop .regular-price { font-size: 24px; }
.product-shop .delivery { color: #3d9b35; }
.product-shop .note { line-height: 16px; }

/* Images */
.product-img-box { display: table-cell; width: 375px; vertical-align: top; padding: 5px }
.zoom-flyout { left: 370px; width: 594px; height: 393px }
.more-views { margin-left: -5px; font-size: 0 }
.more-views li { display: inline-block; padding: 3px 0 0 5px }
.main-image-area > img { width: 365px }

/* Tabs */
.product-collateral .tabs li { display: inline }
.product-collateral .tabs a { display: inline-block; padding: 10px 24px; border-top: 1px solid #bcbcbc; background: #f9f9f9; border-top-left-radius: 3px; border-top-right-radius: 3px; color: #666666; border-bottom: #ffffff solid 1px }
.product-collateral .tabs a.active { border-color: #37A3E2; background-color: #f0f0f0; border-bottom: #f0f0f0 solid 1px }
.product-collateral .tab-content { display: none; background: #f0f0f0; padding: 20px 30px }

.product-shop .product-title { float: left; min-width: 50% }
.product-shop .product-title img { float: left }
.product-shop .similarProducts { font-size: 11px; margin-top: 5px }
.product-shop h1 { font-size: inherit }
.product-shop div.top div.informations { position: absolute; top:60px; right:20px; }
.product-shop .articleInformations { float: right; padding-top: 21px; font-size: 11px }
.product-shop .articleInformations p { width:150px; float:right; text-align: right }

/* Availability */
.product-main-info p { line-height: 24px }
.product-main-info .availability { color: #839d1b }
.product-main-info .info { font-size: 10px; border-bottom: 1px dotted #000; margin: 0 0 0 5px; cursor:pointer }

/* Social buttons */
.social-media-icons { font-size: 0; margin-top: 20px }
.social-media-icons a { background-image: url("../images/icons/social-media-icons.png"); width: 26px; height: 26px; display: inline-block; margin-right: 3px }
.fb { background-position: 0 0 }
.fb:hover { background-position: 0 26px }
.google { background-position: -26px 0 }
.google:hover { background-position: -26px 26px }
.twitter { background-position: -52px 0 }
.twitter:hover { background-position: -52px 26px }
.pinterest { background-position: -78px 0 }
.pinterest:hover { background-position: -78px 26px }

/* Additional information */
#additional-information div { font-weight: bold; font-size: 15px; margin-bottom: 10px }
#additional-information table { width: 100%; text-align: left; border-collapse: collapse }
#additional-information th, #additional-information td { font-weight: normal; border: #cccccc solid 1px; padding: 2px 5px }

#recently-viewed-products { position: relative; display: none }
#recently-viewed-products .heading { margin-bottom: 15px }

.product-shop .productAlert { cursor: pointer; display: block; margin-top: 5px }
.alertPopUp p { margin: 10px 0 }
.product-shop .price-information { float: right; text-align: right }
.product-shop .product-main-info .main-information { float: left }

.product-controls { margin-top: 12px }
.product-controls .selects { margin: 0; float: left }
.product-controls .selects > * { margin-right: 7px; float: left }
.product-controls button { float: right }

/* Tablet */
@media (max-width: 974px) {
    .product-shop .price-information { text-align: center; float: none; border-top: 1px solid #fff; margin-top: 10px; padding: 15px 0 5px 0; clear: both }
    .product-shop .price-information p { display: inline-block; margin: 0 5px }
    .product-shop .articleInformations { float: none; padding: 17px 0; text-align: left }
    .product-controls button { float: left; clear: both; margin: 15px 0 7px 0 }
}

/* Phone */
@media (max-width: 767px) {
    #breadcrumbs { margin-left: 20px }
    .product-img-box:after { content: ""; display: block; height: 0; clear: both; visibility: hidden }
    .main-container .main { padding-left: 0; padding-right: 0 }
    .product-essential, .product-shop, .product-img-box { display: block }
    .product-shop { padding: 10px 5px }
    .product-img-box { width: auto }
    .product-shop .articleInformations { padding-top: 0; margin: 10px 0 0 0 }
    .product-shop .similarProducts { display: block; float: left; margin: 10px 0 0 0 }
    .product-shop .price-information { border-top: none; padding: 0; margin: 0 }
    .main .product-controls button { width: 100%; font-size: 22px; padding: 10px 0 }

    #phoneTitlePlaceholder h1 { float: left; font-size: 13px; text-transform: capitalize; padding: 5px }
    #phoneTitlePlaceholder img { float: right }

    .product-img-box .flexslider { display: block }
    .more-views { display: none }
    .main-image-area > img { width: 100% }
    .zoom { position: static; display: inline }
}

/* Clearer */
.product-shop .product-title:after, .product-main-info:after, .top:after, .product-controls:after,
#phoneTitlePlaceholder:after { content: ""; display: block; height: 0; clear: both; visibility: hidden }
