@import "ekomi.css";
@import "common.css";
@import "product_grid.css";

/* Layered navigation */
.filter-content { list-style: none; padding: 0; margin: 0 }
.filter-content li a { padding: 10px 0 10px 34px; border-top: 1px solid #e4e4e4; color: inherit; display: block; background: url("../images/icon-checkbox.png") 10px 7px no-repeat; font-size: 11px }
.filter-content li.active a { background-image: url("../images/icon-checkbox-active.png") }
.block-title { padding: 8px 10px; background-color: #e4e4e4; font-size: 17px; font-family: GeogrotesqueRegular, Helvetica, Arial, sans-serif }
.expanded, .collapsed { background-position: top right; background-repeat: no-repeat }
.expanded { background-image: url(../images/minus.png) }
.collapsed { background-image: url(../images/plus.png) }
.filter-color { text-align: center; margin: 4px 0 }
.filter-color li { display: inline-block; margin: 4px }
.filter-color li a { background: none; width: 26px; height: 26px; border-radius: 2px; border: #ececec solid 1px; padding: 0; font-size: 18px; text-align: center; line-height: 25px; color: #37a3d4 }

/* Toolbar */
.toolbar { margin-bottom: 15px; background: #e3e3e3; border-top: 1px solid #dfdfdf; color: #474747; padding: 0 30px }
.toolbar .amount { float:left; width: 220px; font-size: 16px; margin: 25px 0 }

/* Pagination */
.pages { text-align: right; padding: 43px 0 0 0; font-size: 12px }
.pages li { display: inline-block; border: 1px solid #b3b3b3; margin-left: 2px; background-color: #f0f0f0 }
.pages a, .pages .current { padding: 4px 9px; display: inline-block; color: #000000 }
.pages .current { color: #ffffff; background-color: #37a3d4; border-color: #1280ac }
.pages .next, .pages .prev { padding: 4px 7px; color: #3c3c3c }
.pages .prev { background-position: -6px -5px }

/* Clearer */
.toolbar:after { content: ""; display: block; height: 0; clear: both; visibility: hidden }
