<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.2/phpunit.xsd"
        bootstrap="bootstrap.php"
        colors="true"
        forceCoversAnnotation="true"
        beStrictAboutCoversAnnotation="true"
        beStrictAboutOutputDuringTests="true">
    <testsuite name="Lizards and Pumpkins Unit Tests">
        <directory>Suites</directory>
        <directory>../Integration/Util/Test/Unit/Suites</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory>../../src</directory>
            <exclude>
                <file>../../src/Util/functions.php</file>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <server name="LP_CATALOG_IMPORT_DIRECTORY" value="tests/shared-fixture"/>
    </php>
</phpunit>
